body {
    font-family: 'Inter', sans-serif;
    margin: 0; 
    color: #141414;
    background-color: #F3F5FC;
    text-align: center;
}

p {
    margin: 0; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
